<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net45" />
  <package id="MySql.Data" version="8.0.15" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="7.0.7-m61" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net45" />
</packages>